<h2>Register as a Company</h2>

<form (ngSubmit)="submitForm()" [formGroup]="register_companyForm" novalidate>
  <div class="row" >
  <div class="form-group col-sm-12" align="center">
    <label class="col-sm-3">
      <p>Company Name:</p>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter your company name.">
    </label>
    <br>
   
    <label class="col-sm-3">
        <p>Email:</p>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter your email.">
      </label>
      <br>

    <label class="col-sm-3">
      <p>Username:</p>
      <input type="text" formControlName="Username" class="form-control" placeholder="Enter your Username">
    </label>

    <br>
    <label class="col-sm-3">
      <p>Password:</p>
      <input type="password" formControlName="password" class="form-control" placeholder="Enter your password">
    </label>
  <br>
    <label class="col-sm-3">
      <p>Phone:</p>
      <input type="text" formControlName="phone" class="form-control" placeholder="Select your phone">
    </label>
    <br>
    <label class="col-sm-3">
      <p>Adress: </p>
      <input type="text" formControlName="adress" class="form-control" placeholder="Select your adress">
    </label>
  
    <br>
    <div class="form-submit">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</div>
</form>

<div class="form-value">
  Form value:
  <pre>
    {{registerForm.value | json}}
  </pre>
  <p>
    Status: {{registerForm.status}}
  </p>
  <p>
    Valid: {{registerForm.valid}}
  </p>
  <p>Submit then open console to see full form.</p>
</div>

